html {
    font-size: 10px;
  }

.btn {
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(9, 1, 135);
    width: 150px;
    height: 80px;
    text-align: center;
    border: 4px solid rgb(9, 1, 135);
    border-radius: 18px;
}

#questionDiv {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(191, 188, 220);
    width: 325px;
    height: 200px;
    text-align: center;
    border: 4px solid rgb(9, 1, 135);
    border-radius: 18px;
    background-color: rgb(99, 99, 99);
}

#categoryDiv {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(191, 188, 220);
    width: 325px;
    height: 50px;
    text-align: center;
    border: 4px solid rgb(9, 1, 135);
    border-radius: 18px;
    background-color: rgb(99, 99, 99);
}

#progressBarQuestion {
    background-color: green;
    width: 325px;
    height: 25px;
    border-radius: 10px;
}
