html {
    font-size: 10px;
  }

.btn {
  
  font-size: 2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);

  }

.btn2{
  font-size: 2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}


  

#questionDiv {
  font-weight: bold;
    font-size: 2rem;
    padding: 20px; /* Adds some padding inside the div */
    text-align: center; /* Centers the text horizontally */
    font-family: Arial, sans-serif; /* Sets the font style */
    height: 25vh; /* 40% of the viewport height */
    width: 40vw; /* 60% of the viewport width */
    background-color: #fff; /* White background */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visibility */
    border-radius: 10px; /* Optional: rounds the corners */
    text-emphasis: black;
}

.answerDiv{
    font-weight: bold;
      font-size: 1.5rem;
      padding: 20px; /* Adds some padding inside the div */
      text-align: center; /* Centers the text horizontally */
      font-family: Arial, sans-serif; /* Sets the font style */
      background-color: #fff; /* White background */
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visibility */
      border-radius: 10px; /* Optional: rounds the corners */
      text-emphasis: black;
}

#progressBarBehindQuestion {
  background-color: rgba(255, 255, 255, 0);
  
  width: 329px;
  height: 34px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  border: thin black;
}


#progressBarQuestion {
    background-color: #d6d6d6a8;
    width: 329px;
    height: 34px;
    border-radius: 15px;
}



 