


  

#questionDiv {
    font-weight: bold;
    font-size: 2rem;
    padding: 20px; /* Adds some padding inside the div */
    text-align: center; /* Centers the text horizontally */
    font-family: Arial, sans-serif; /* Sets the font style */
    height: 25vh; /* 40% of the viewport height */
    width: 40vw; /* 60% of the viewport width */
    background-color: #ffffff00; /* White background */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Optional: rounds the corners */
    text-emphasis: black;
    outline-style: solid;
    outline-width: medium;
    outline-color: black;

}

.categoryButton{
  font-size: 1.2rem;
  font-weight: 700;
}

#progressBarBehindQuestion {
  background-color: rgba(255, 255, 255, 0);
  
  width: 329px;
  height: 34px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  border: thin black;
}


#progressBarQuestion {
    background-color: #d6d6d6a8;
    width: 329px;
    height: 34px;
    border-radius: 15px;
}



#versusText{
  align-items: center;
  align-self: center;
  font-size: 4rem;

}

#checkmarkText{
  align-items: center;
  align-self: center;
  font-size: 4rem;

}


#crossText{
  align-items: center;
  align-self: center;
  font-size: 4rem;

}


 